
/* Navigation Drawer */
/* .v-navigation-drawer{
  width: 280px!important;
}
.v-main{
  padding-left: 280px!important;
} */
 .v-main{
  background: #f9f9f9!important;
 }
.v-navigation-drawer{
  background: #fff!important;
}
.cd__main {
  background: linear-gradient(to right, #8e9eab, #eef2f3) !important;
}
/* .v-list-item__spacer{
  width: 10px !important;
} */
.v-navigation-drawer__content .v-list-item__prepend{
  display: flow!important;
}



/* Modal Positioning */
@media screen and (min-width: 1400px) {
  .modal-dialog {
    margin-right: 0 !important;
    margin-top: 0 !important;
  }
}


/* dataTable css edit */
table.dataTable>tbody>tr.selected>* {
  box-shadow: inset 0 0 0 9999px #191970;
  /* box-shadow: none !important; */
  color: #ffffff !important;
}

#dataTableEquipment tr {
  cursor: pointer;
}

#equipmentPeripherals tr>td {
  padding: 0;
}

#equipmentPeripherals>.btn .btn-sm {
  padding: 2px;
}


/* Laravel  Notify */
.notify {
  z-index: 9999;
  /* Adjust this value as needed */
}


/*
* Data-Feather CSS
*/
.small-feather {
  width: 18px;
  height: 18px;
}


/* /** V Card Text */
.vCardText .v-card-text{
  min-height: 300px!important;
}

















/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 11px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #eaeaea;
  box-shadow: inset 2px 2px 3px #e1e1e1;
  margin: 3px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bebebe;
}


/** Checkboc in tables */
.bh-table-responsive input[type=checkbox]:checked+div,
.bh-table-responsive input[type=checkbox]:indeterminate+div {
  background: #191970 !important;
  border: 1px solid #191970 !important;
}


/** Table remove responsive */
/* .bh-table-responsive table{
  width: 150%!important;
  min-width: 100%;
  border-collapse: separate !important;
  max-width: none !important;
  overflow: auto!important;
} */

.v-input__details{
  min-height: 0 !important;
}
.v-select__selection{
  font-size: 11px!important;
}
.v-combobox__selection{
  font-size: 11px!important;
}

@media (max-width: 600px) {
  .topActions {
    width: calc(100%);
    /* left: 20px; */
    height: 120px;
  }
}


/* **************************************************** Table Vue3 DataTable ******************************************** */
.bh-table-responsive{
  min-height: 50vh!important;
  /* min-height: 300px!important; */
}
.bh-datatable{
  background-color: #fff!important;
}

.bh-table-responsive table.bh-table-bordered tbody tr td, .bh-table-responsive table.bh-table-bordered thead tr th {
   border-color: #f0f0f0!important;
}
.bh-table-responsive table.bh-table-bordered thead tr, .bh-table-responsive table.bh-table-bordered thead tr{
  background: rgb(255, 255, 255)!important;
  /* text-transform: uppercase; */
}
.bh-table-responsive table.bh-table-bordered thead tr th, .bh-table-responsive table.bh-table-bordered thead tr th{
 white-space: nowrap;
 text-transform: uppercase;
 font-size: 10px;
 /* padding-top: 10px!important;
 padding-bottom: 10px!important; */
 border-bottom: 1px solid #dadada!important;
}
/* .bh-table-responsive table.bh-table-bordered tbody tr, .bh-table-responsive table.bh-table-bordered tbody tr{
  background: rgb(255, 255, 255)!important;
} */
.bh-table-responsive table.bh-table-bordered tbody tr td, .bh-table-responsive table.bh-table-bordered tbody tr td{
  white-space: nowrap;
}
.bh-table-responsive table.bh-table-bordered tbody tr td, .bh-table-responsive table.bh-table-bordered tbody tr td{
 font-family: "Satoshi", sans-serif !important;
 font-size: 11px!important;
 font-weight: 500;
 /* color: #191970; */
}

table.bh-table-hover tbody tr:hover{
  background: #19197018!important;
  color:#191970!important;
}

/* RowClass of Vue3Table */
table.bh-table-bordered tbody .highlightRow{
  background: #19197018!important;
  color: #191970!important;
}
/* /** CellClass of Vue3Table */
.internalCell{
  padding: 1px .8em !important;
}
.assignedRoleCellClass{
  padding: 4px .8em !important;
}
/* Target table header row */
.vue3-datatable thead th {
  background-color: lightgray; /* Example: Gray background */
  font-weight: bold; /* Make headers bold */
  text-align: center; /* Center align text */
}

/* Specific styling for a column by its label */
.sticky-last-header .bh-table-responsive table.bh-table-bordered thead tr th:last-child, .sticky-last { 
  position: sticky;
  right: 0;
  background: white;
  z-index: 2;
}


/* ****************************************************End  Table Vue3 DataTable ******************************************** */

/* ========================= Limit TExt to Show in table Data ==============================  */
.tableLimitText tbody td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Adjust the width as needed */
}
.bh-py-5 {
  padding-left: 10px;
  padding-right: 10px;
}


.custom-pointer {
  cursor: pointer;
}


/** Put value in EMpty table td*/
table tbody tr td:empty::before{
  content: '- - -';
  color: #191970;
  font-weight: bold;
}
table tbody tr td span:empty::before{
  content: '- - -';
  color: #191970;
  font-weight: bold;
}


/* V-CARD */
.v-card--variant-elevated{
  box-shadow: -1px 0px 1px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 1px 1px 1px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0 0 1px 0px var(--v-shadow-key-ambient-opacity, rgba(0, 0, 0, 0.12)) !important;
}
    
/* /** Sidebar Dropdown - Switching Account */
.v-navigation-drawer__content .v-select .v-select__selection-text{
  font-size: 12px!important;
  color: #191970!important;
}



/** Date Picker*/
.dp__cell_inner{
  height: 25px!important;
  padding: 0!important;
}
.dp__input_invalid{
  box-shadow: none!important;
  border: 1px solid rgb(187, 0, 0)!important;
}
.dp__input{
  padding: 8px !important;
}
.dp__input_icon_pad{
  padding-inline-start: 35px!important;
}


/* Printing Options Custom */
@media print {
  #printThisA4 {
    width: 210mm; /*A4 width */
    height: 297mm; /* A4 height */
    margin: auto;
    /* padding: 10mm;  */
    box-sizing: border-box;
    max-height: calc(297mm - 20mm); /* Adjust height to leave space for margins */
    overflow: hidden; /* Avoid overflow from spilling out */
  }
  body {
    -webkit-print-color-adjust: exact;
    margin: 0;
    padding: 0;
  }
}




/* Form Input Height */
.v-field__input{
  min-height: 36px!important;
}




/** Vcard */
.statusVCard{
  background: #ffffff00!important;
}